.fancy-heading-container {
  display: inline-block;
  /* stylelint-disable-next-line property-no-vendor-prefix -- needed for Safari to work */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  &.blue {
    background-color: var(--fancy-heading-1_color_a);
    background-image: linear-gradient(
      to bottom,
      var(--fancy-heading-1_color_a),
      var(--fancy-heading-1_color_b)
    );
  }

  &.light {
    background-color: var(--hero_color_foreground);
    background-image: linear-gradient(
      to bottom,
      var(--hero_color_foreground),
      var(--hero_color_foreground-secondary)
    );
  }
}
