:root {
  --gallery-thumbnail-featured_dimension_box: 32px;
  --gallery-thumbnail-featured_dimension_offset: 4px;
  --gallery-thumbnail-featured_padding: 4px;
}

/* Featured badge */
.featured-badge {
  display: flex;
  position: absolute;
  top: var(--gallery-thumbnail-featured_dimension_offset);
  right: var(--gallery-thumbnail-featured_dimension_offset);
  width: var(--gallery-thumbnail-featured_dimension_box);
  height: var(--gallery-thumbnail-featured_dimension_box);
  padding: var(--gallery-thumbnail-featured_padding);
  align-items: center;
  justify-content: center;
  background: var(--banner_color_background);
  color: var(--banner_color_foreground);
  transform: rotate(45deg);
}

.featured-badge::before,
.featured-badge::after {
  position: absolute;
  top: 0;
  border: calc(var(--gallery-thumbnail-featured_dimension_box) / 2) solid
    transparent;
  border-bottom-color: var(--banner_color_background);
  content: '';
}

.featured-badge::before {
  border-right-color: var(--banner_color_background);
  left: calc(var(--gallery-thumbnail-featured_dimension_box) * -1);
}

.featured-badge::after {
  border-left-color: var(--banner_color_background);
  right: calc(var(--gallery-thumbnail-featured_dimension_box) * -1);
}
