@import 'variables';

// --------------------------------------------------------
// Fixed container for grid system
// --------------------------------------------------------
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(var(--grid-gutter) / 2);
  padding-right: calc(var(--grid-gutter) / 2);
}

/* sm */
@media screen and (min-width: $breakpoint-sm) {
  .container {
    width: var(--width-container-sm);
  }
}

/* md */
@media screen and (min-width: $breakpoint-md) {
  .container {
    width: var(--width-container-md);
  }
}

/* lg */
@media screen and (min-width: $breakpoint-lg) {
  .container {
    width: var(--width-container-lg);
  }
}

/* xl */
@media screen and (min-width: $breakpoint-xl) {
  .container {
    width: var(--width-container-xl);
  }
}

// --------------------------------------------------------
// Grid
// --------------------------------------------------------
.grid {
  display: grid;
  grid-template-columns: repeat(
    var(--grid-columns),
    var(--grid-column-actual-width)
  );
  grid-gap: var(--grid-gutter);
  justify-content: center;
  margin-left: calc(var(--grid-gutter) / -2);
  margin-right: calc(var(--grid-gutter) / -2);
}
