#nav-links {
  margin-left: auto;
  list-style: none inside;
  display: flex;
  flex-direction: row;
  padding-left: 0;

  li {
    margin: 0;
  }

  a {
    background-color: var(--navigation-link_color_background);
    border: 1px solid var(--navigation-link_color_border);
    border-radius: var(--generic_border_radius);
    margin: 0 0.25em;
    padding: 6px 12px;
    text-decoration: none;
  }

  a.small-button {
    padding: 6px;
  }

  a:hover {
    background-color: var(--navigation-link_color_background-hover);
    border: 1px solid var(--navigation-link_color_border-hover);
  }

  a.active {
    background-color: var(--navigation-link_color_background-active);
    border-color: var(--navigation-link_color_border-active);
    color: var(--navigation-link_color_foreground-active);
    box-shadow: 0 4px 16px var(--navigation-link_color_background-active-alt)
      inset;
    cursor: default;
  }

  a.icon-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 6px;
    height: 100%;
  }
}

#sticky-menu {
  background: var(--page-header_color_background);
  color: var(--page-header_color_foreground);

  /* stylelint-disable-next-line no-descending-specificity -- stylelint continues to fail if this rule is moved above #nav-links */
  a {
    color: var(--navigation-link_color_foreground);
    transition: color 0.2s, background-color 0.2s, border-color 0.2s,
      box-shadow 0.2s;
  }

  a:hover {
    color: var(--navigation-link_color_foreground-hover);
  }

  a:focus,
  a:active {
    color: var(--navigation-link_color_foreground-focus);
  }
}
