@import 'variables';

:root {
  --hero_font-size_heading: 56px;
  --hero_font-weight_heading: 300;
  --hero-small_padding_vertical: 10px;
  --hero-small_font-size_heading: 35px;
}

/* Large heroes - i.e. top page sections */
.top-hero-section,
.top-super-hero,
.beam-container {
  position: relative;
}

.top-hero-section {
  h1 {
    margin: 0 0 0.5em;
  }

  .container {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .image {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
    }
  }

  .text {
    width: 60%;
  }
}

@media screen and (max-width: ($breakpoint-sm - 1)) {
  .top-hero-section {
    .image {
      display: none;
    }

    .text {
      width: 100%;
    }
  }
}

.top-super-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--home-slideshow_height);
  max-height: var(--home-slideshow_max-height);
  overflow: hidden;
  color: var(--hero_color_foreground);
  background: var(--hero_color_background-secondary)
    radial-gradient(
      var(--hero_color_background-secondary),
      var(--hero_color_background)
    );

  #signature {
    filter: drop-shadow(0 2px 0 var(--generic_color_shadow));
  }

  .container {
    justify-content: center;
  }
}

/* Beam effects */
.beam-container .beam {
  position: absolute;
  width: 0;
  box-shadow: 0 0 20px 2px var(--hero_color_foreground);
  opacity: 0;
  inset: 100% 0 0;
  margin: auto;
  animation: beam-up linear infinite;

  &.el1 {
    animation-duration: 4s;
  }

  &.el2 {
    animation-duration: 7s;
    transform: scale(1.6);
    left: 15%;
  }

  &.el3 {
    animation-duration: 2.5s;
    transform: scale(0.5);
    left: -15%;
  }

  &.el4 {
    animation-duration: 4.5s;
    transform: scale(1.2);
    left: -35%;
  }

  &.el5 {
    animation-duration: 8s;
    transform: scale(2.2);
    left: -50%;
  }

  &.el6 {
    animation-duration: 3s;
    transform: scale(0.8);
    left: -80%;
  }

  &.el7 {
    animation-duration: 5.3s;
    transform: scale(3.2);
    left: 35%;
  }

  &.el8 {
    animation-duration: 4.7s;
    transform: scale(1.7);
    left: 60%;
  }

  &.el9 {
    animation-duration: 4.1s;
    transform: scale(0.9);
    left: 85%;
  }
}

#page-hero {
  color: var(--hero_color_foreground);
  background: linear-gradient(
    var(--hero_angle_gradient),
    var(--hero_color_background),
    var(--hero_color_background-secondary)
  );
  background-size: 400% 400%;
  animation: background-back-and-forth 15s ease infinite;

  h1 {
    font-size: var(--hero_font-size_heading);
    font-weight: var(--hero_font-weight_heading);
  }

  &.small-hero {
    --page-section_padding_top: var(--hero-small_padding_vertical);
    --page-section_padding_bottom: var(--hero-small_padding_vertical);
    --hero_font-size_heading: var(--hero-small_font-size_heading);
  }

  .secondary-text {
    color: var(--hero_color_foreground-secondary);
  }
}
