// =============================================================================
// Color definitions
// =============================================================================
// Neutral light palette - tinted blue as it gets darker
$neutral-light: (
  "1": hsl(210deg 36% 96%),
  "2": hsl(212deg 33% 89%),
  "3": hsl(210deg 31% 80%),
  "4": hsl(211deg 27% 70%),
  "5": hsl(209deg 23% 60%),
  "6": hsl(210deg 22% 49%),
  "7": hsl(209deg 28% 39%),
  "8": hsl(209deg 34% 30%),
  "9": hsl(211deg 39% 23%),
  "10": hsl(209deg 61% 16%)
);

// Neutral dark palette - blue tint; step 1 is page background, step 10 is emphasis text
$neutral-dark-base: #1d232f;
$neutral-dark: (
  "1": $neutral-dark-base,
  "2": hsl(218deg 22% 19%),
  "3": hsl(217deg 21% 24%),
  "4": hsl(216deg 20% 30%),
  "5": hsl(215deg 18% 40%),
  "6": hsl(214deg 16% 52%),
  "7": hsl(212deg 18% 62%),
  "8": hsl(211deg 20% 72%),
  "9": hsl(210deg 22% 85%),
  "10": hsl(210deg 24% 93%)
);

// Primaries
$primary-bases: (
  "blue": #0080ff,
  "red": #ff6633,
  "yellow": #ffaa00,
  "green": #33bb77
);

// Shadows
$shadow-light: rgb(0 0 0 / 25%);
$shadow-dark: rgb(255 255 255 / 25%);

// Variance for primary color generation
$variance: 15%;
