@keyframes background-back-and-forth {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes load-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(89deg);
  }
}

@keyframes gentle-v-bounce {
  from {
    top: -10px;
  }

  to {
    top: 10px;
  }
}

@keyframes beam-up {
  0% {
    top: 200%;
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    top: 0%;
    opacity: 0.8;
  }

  75% {
    opacity: 1;
  }

  100% {
    top: -200%;
    opacity: 0;
  }
}
