/* stylelint-disable-next-line selector-no-vendor-prefix -- needed for Firefox selection style */
::-moz-selection {
  color: var(--selection_color_foreground);
  -webkit-text-fill-color: var(--selection_color_foreground);
  background-color: var(--selection_color_background);
}

::selection {
  color: var(--selection_color_foreground);
  -webkit-text-fill-color: var(--selection_color_foreground);
  background-color: var(--selection_color_background);
}
