table {
  margin: 0 auto 5px;
  border-collapse: collapse;
  border-radius: var(--generic-subtle_border_radius);
  background: var(--table_color_background);
  box-shadow: 0 0 0 1px var(--table_color_background-title);

  td, th {
    padding: 4px 8px;
  }

  thead tr th {
    background: var(--table_color_background-title);
    color: var(--table_color_foreground-title);
  }

  // Fix table row colour overflow without affecting potential position:sticky on table headers
  tbody tr:nth-child(even) td,
  tbody tr:nth-child(even) th {
    background-color: var(--table_color_background-alt);
  }

  tbody tr:last-child td:first-child {
    border-bottom-left-radius: var(--generic-subtle_border_radius);
  }

  tbody tr:last-child td:last-child {
    border-bottom-right-radius: var(--generic-subtle_border_radius);
  }

  &.sticky-header thead {
    position: sticky;
    top: var(--table-sticky-header_offset, var(--page-header_height));
  }
}
