/* stylelint-disable custom-property-pattern -- interpolation requires braces */
@use 'sass:color';
@use 'sass:map';
@use 'sass:string';
@import 'palette/colors';

// Globals
$transparent: 'transparent';
$light: 'light';
$dark: 'dark';

// Colour map for light and dark
$color-names: (
  'generic_color_shadow': ($light: 'shadow'),

  'error_color': ($light: 'primary-red-1'),

  'skeleton-loader_background-a': ($light: 'neutral-2'),
  'skeleton-loader_background-b': ($light: 'neutral-3'),

  'link_color_default': ($light: 'primary-blue-1'),
  'link_color_hover': ($light: 'primary-blue-3'),
  'link-light_color_default': ($light: 'neutral-1'),
  'link-light_color_hover': ($light: 'neutral-3'),

  'page_color_background': ($light: 'neutral-1'),
  'page_color_foreground': ($light: 'neutral-10'),
  'page_color_foreground-secondary': ($light: 'neutral-6'),

  'page-header_color_background': ($light: 'primary-blue-1'),
  'page-header_color_foreground': ($light: 'neutral-1'),

  'page-footer_color_background': ($light: 'neutral-9'),
  'page-footer_color_foreground': ($light: 'neutral-4'),
  'page-footer_color_icon': ($light: 'neutral-3'),
  'page-footer_color_background-overlay': ($light: 'rgb(0 0 0 / 20%)'), // Hard-coded color value
  'page-footer_color_foreground-link': ($light: 'neutral-4'),
  'page-footer_color_foreground-link-hover': ($light: 'neutral-6'),

  'hero_color_background': ($light: 'primary-blue-1'),
  'hero_color_background-secondary': ($light: 'primary-blue-4'),
  'hero_color_foreground': ($light: 'neutral-1'),
  'hero_color_foreground-secondary': ($light: 'neutral-3'),

  'page-section_color_background-alternate': ($light: 'neutral-2'),
  'page-section_color_background-dark': ($light: 'neutral-8'),
  'page-section_color_foreground-dark': ($light: 'neutral-1'),

  'button_color_border': ($light: 'neutral-1'),
  'button_color_border-active': ($light: 'primary-blue-4'),

  'button-primary_color_foreground': ($light: 'neutral-1'),
  'button-primary_color_background': ($light: 'primary-blue-3'),
  'button-primary_color_background-active': ($light: 'primary-blue-2'),
  'button-primary_color_background-hover': ($light: 'primary-blue-4'),

  'button-positive_color_foreground': ($light: 'neutral-1'),
  'button-positive_color_background': ($light: 'primary-green-3'),
  'button-positive_color_background-active': ($light: 'primary-green-2'),
  'button-positive_color_background-hover': ($light: 'primary-green-4'),

  'button-neutral_color_foreground': ($light: 'neutral-1'),
  'button-neutral_color_background': ($light: 'neutral-7'),
  'button-neutral_color_background-active': ($light: 'neutral-8'),
  'button-neutral_color_background-hover': ($light: 'neutral-6'),

  'calendar_color_background': ($light: 'neutral-1'),
  'calendar_color_background-title': ($light: 'primary-blue-3'),
  'calendar_color_foreground-title': ($light: 'neutral-1'),

  'navigation-link_color_border': ($light: $transparent),
  'navigation-link_color_background': ($light: $transparent),
  'navigation-link_color_foreground': ($light: 'neutral-1'),
  'navigation-link_color_border-hover': ($light: 'neutral-4'),
  'navigation-link_color_background-hover': ($light: $transparent),
  'navigation-link_color_foreground-hover': ($light: 'neutral-3'),
  'navigation-link_color_border-active': ($light: 'primary-blue-3'),
  'navigation-link_color_background-active': ($light: 'primary-blue-3'),
  'navigation-link_color_background-active-alt': ($light: 'primary-blue-2'),
  'navigation-link_color_foreground-active': ($light: 'neutral-1'),
  'navigation-link_color_foreground-focus': ($light: 'neutral-1'),

  'banner_color_background': ($light: 'primary-yellow-5'),
  'banner_color_foreground': ($light: 'neutral-10'),

  'progress-bar_color_background-empty': ($light: 'neutral-3'),
  'progress-bar_color_background-full': ($light: 'primary-blue-2'),

  'table_color_background': ($light: 'neutral-1'),
  'table_color_background-alt': ($light: 'neutral-2'),
  'table_color_background-title': ($light: 'primary-blue-3'),
  'table_color_foreground-title': ($light: 'neutral-1'),

  'selection_color_background': ($light: 'primary-blue-5'),
  'selection_color_foreground': ($light: 'neutral-1'),

  'tag_color_background': ($light: 'neutral-7'),
  'tag_color_background-hover': ($light: 'neutral-9'),
  'tag_color_foreground': ($light: 'neutral-1'),
  'tag_color_foreground-hover': ($light: 'neutral-1'),

  'load-spinner_color_primary': ($light: 'neutral-1'),
  'load-spinner_color_secondary': ($light: 'neutral-9'),

  'gallery-thumbnail-overlay_color_background': ($light: 'overlay'),
  'gallery-thumbnail-overlay_color_foreground': ($light: 'neutral-10'),

  'fancy-heading-1_color_a': ($light: 'primary-blue-5'),
  'fancy-heading-1_color_b': ($light: 'primary-blue-1'),
);

// =============================================================================
// Generates the application palette (i.e. not `_color`) for a color variant
// =============================================================================
@mixin generate-app-palette($variant) {
  @each $prop, $value in $color-names {
    $prop-value: transparent;
    $map-value: map.get($value, $variant);

    @if $map-value {
      @if $map-value == $transparent or str-index($map-value, 'rgb(') {
        $prop-value: $map-value;
      } @else {
        $prop-value: var(--_color-#{$map-value});
      }
    }

    --#{$prop}: #{$prop-value};
  }
}

// =============================================================================
// Default (light mode) color mode palette
// =============================================================================
:root {
  /* Primary colours */
  @each $key, $value in $primary-bases {
    --_color-primary-#{$key}-1: #{color.scale($value, $lightness: -2 * $variance)};
    --_color-primary-#{$key}-2: #{color.scale($value, $lightness: -$variance)};
    --_color-primary-#{$key}-3: #{$value};
    --_color-primary-#{$key}-4: #{color.scale($value, $lightness: $variance)};
    --_color-primary-#{$key}-5: #{color.scale($value, $lightness: 2 * $variance)};
  }

  /* Light mode colours */
  @each $key, $value in $neutral-light {
    --_color-neutral-#{$key}: #{$value};
  }

  --_color-shadow: #{$shadow-light};
  --_color-overlay: #{color.scale(map.get($neutral-light, '1'), $alpha: -20%)};

  @include generate-app-palette($light);
}

// =============================================================================
// Dark color mode palette
// =============================================================================
@media (prefers-color-scheme: dark) {
  :root {
    // Builds the dark mode neutral colours from the base
    // Creates the same number as the light theme palette
    @for $index from 1 through length($neutral-light) {
      $amount: ($index - 1) * 10%;

      --_color-neutral-#{$index}: #{color.scale($neutral-dark-base, $lightness: $amount)};
    }

    --_color-shadow: #{$shadow-dark};
    --_color-overlay: #{color.scale($neutral-dark-base, $alpha: -20%)};

    @include generate-app-palette($light);
  }
}
